[include]
	path = .gitconfig.local
[user]
	name = maasa
	email = maasa.giss2@gmail.com
[core]
	editor = nvim
	whitespace = cr-at-eol
	excludesfile = ~/.gitignore_global  # globalな.gitignoreの指定
	ignorecase = false
[color]
	ui = true
[alias]
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	g = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
	s = status
	d = diff
	a = add
	c = commit
	cm = commit -m
	co = checkout
	b = branch
	bdd = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	bff = fetch --prune
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
[push]
	default = tracking       # defaultのpush先はtrackingしているリポジトリ
[pager]
	log = diff-highlight | LESS=-R less
	show = diff-highlight | LESS=-R less
	diff = diff-highlight | LESS=-R less
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
